/AutoUnityPrj/.vs
/AutoUnityPrj/Library
/AutoUnityPrj/Logs
/AutoUnityPrj/Temp
/AutoUnityPrj/UserSettings
/AutoUnityPrj/.vsconfig
/AutoUnityPrj/Assembly-CSharp.csproj
/AutoUnityPrj/AutoUnityPrj.slnx
/AutoUnityPrj/MCPForUnity.Editor.csproj
/AutoUnityPrj/MCPForUnity.Runtime.csproj
/AutoUnityPrj/PPv2URPConverters.csproj
/AutoUnityPrj/Unity.AI.Navigation.csproj
/AutoUnityPrj/Unity.AI.Navigation.Editor.ConversionSystem.csproj
/AutoUnityPrj/Unity.AI.Navigation.Editor.csproj
/AutoUnityPrj/Unity.AI.Navigation.Updater.csproj
/AutoUnityPrj/Unity.Burst.CodeGen.csproj
/AutoUnityPrj/Unity.Burst.csproj
/AutoUnityPrj/Unity.Burst.Editor.csproj
/AutoUnityPrj/Unity.Cinemachine.csproj
/AutoUnityPrj/Unity.Cinemachine.Editor.csproj
/AutoUnityPrj/Unity.InputSystem.csproj
/AutoUnityPrj/Unity.InputSystem.DocCodeSamples.csproj
/AutoUnityPrj/Unity.InputSystem.ForUI.csproj
/AutoUnityPrj/Unity.InputSystem.TestFramework.csproj
/AutoUnityPrj/Unity.Mathematics.csproj
/AutoUnityPrj/Unity.Mathematics.Editor.csproj
/AutoUnityPrj/Unity.ProBuilder.AddOns.Editor.csproj
/AutoUnityPrj/Unity.ProBuilder.AssetIdRemapUtility.csproj
/AutoUnityPrj/Unity.ProBuilder.Csg.csproj
/AutoUnityPrj/Unity.ProBuilder.csproj
/AutoUnityPrj/Unity.ProBuilder.Editor.csproj
/AutoUnityPrj/Unity.ProBuilder.KdTree.csproj
/AutoUnityPrj/Unity.ProBuilder.Poly2Tri.csproj
/AutoUnityPrj/Unity.ProBuilder.Stl.csproj
/AutoUnityPrj/Unity.RenderPipeline.Universal.ShaderLibrary.csproj
/AutoUnityPrj/Unity.RenderPipelines.Core.Editor.csproj
/AutoUnityPrj/Unity.RenderPipelines.Core.Runtime.csproj
/AutoUnityPrj/Unity.RenderPipelines.Core.ShaderLibrary.csproj
/AutoUnityPrj/Unity.RenderPipelines.ShaderGraph.ShaderGraphLibrary.csproj
/AutoUnityPrj/Unity.RenderPipelines.Universal.2D.Internal.csproj
/AutoUnityPrj/Unity.RenderPipelines.Universal.Config.Runtime.csproj
/AutoUnityPrj/Unity.RenderPipelines.Universal.Editor.csproj
/AutoUnityPrj/Unity.RenderPipelines.Universal.Runtime.csproj
/AutoUnityPrj/Unity.RenderPipelines.Universal.Shaders.csproj
/AutoUnityPrj/Unity.Searcher.Editor.csproj
/AutoUnityPrj/Unity.Settings.Editor.csproj
/AutoUnityPrj/Unity.ShaderGraph.Editor.csproj
/AutoUnityPrj/Unity.ShaderGraph.Utilities.csproj
/AutoUnityPrj/Unity.Splines.csproj
/AutoUnityPrj/Unity.Splines.Editor.csproj
/AutoUnityPrj/Unity.VisualEffectGraph.Editor.csproj
/AutoUnityPrj/Unity.VisualEffectGraph.Runtime.csproj
/AutoUnityPrj/Unity.VisualStudio.Editor.csproj
/AutoUnityPrj/UnityEditor.TestRunner.csproj
/AutoUnityPrj/UnityEditor.UI.csproj
/AutoUnityPrj/UnityEngine.TestRunner.csproj
/AutoUnityPrj/UnityEngine.UI.csproj
